NET "clock"			LOC = "T9";
NET "clock" CLOCK_DEDICATED_ROUTE = FALSE;

NET "disp_clock_in"	LOC = "M13";
NET "reset_in"		LOC = "M14";

NET "disp_sel[0]"	LOC = "F12";
NET "disp_sel[1]"	LOC = "G12";
NET "disp_sel[2]"	LOC = "H14";
NET "disp_sel[3]"	LOC = "H13";
NET "disp_sel[4]"	LOC = "J14";
NET "disp_sel[5]"	LOC = "J13";
NET "disp_sel[6]"	LOC = "K14";

NET "led[0]"		LOC = "K12";
NET "led[1]"		LOC = "P14";
NET "led[2]"		LOC = "L12";
NET "led[3]"		LOC = "N14";
NET "led[4]"		LOC = "P13";

NET "debug_led[0]"	LOC = "B1";
NET "debug_led[1]"	LOC = "C1";
NET "debug_led[2]"	LOC = "C2";

NET "disp_anode[0]"	LOC = "D14";
NET "disp_anode[1]"	LOC = "G14";
NET "disp_anode[2]"	LOC = "F14";
NET "disp_anode[3]"	LOC = "E13";

NET "disp_seg[0]"	LOC = "E14";
NET "disp_seg[1]"	LOC = "G13";
NET "disp_seg[2]"	LOC = "N15";
NET "disp_seg[3]"	LOC = "P15";
NET "disp_seg[4]"	LOC = "R16";
NET "disp_seg[5]"	LOC = "F13";
NET "disp_seg[6]"	LOC = "N16";
NET "disp_seg[7]"	LOC = "P16";
