NET "clock"			LOC = "V10";
NET "clock" CLOCK_DEDICATED_ROUTE = FALSE;

NET "hand_clock_in"	LOC = "C4"; // BTNL
NET "reset_in"		LOC = "D9"; // BTNR

NET "disp_sel[0]"	LOC = "T10";
NET "disp_sel[1]"	LOC = "T9";
NET "disp_sel[2]"	LOC = "V9";
NET "disp_sel[3]"	LOC = "M8";
NET "disp_sel[4]"	LOC = "N8";
NET "disp_sel[5]"	LOC = "U8";
NET "disp_sel[6]"	LOC = "V8";

NET "led[0]"		LOC = "U16";
NET "led[1]"		LOC = "V16";
NET "led[2]"		LOC = "U15";
NET "led[3]"		LOC = "V15";
NET "led[4]"		LOC = "M11";

NET "debug_led[0]"	LOC = "N11"; // LD5
NET "debug_led[1]"	LOC = "R11"; // LD6
NET "debug_led[2]"	LOC = "T11"; // LD7

NET "disp_anode[0]"	LOC = "N16";
NET "disp_anode[1]"	LOC = "N15";
NET "disp_anode[2]"	LOC = "P18";
NET "disp_anode[3]"	LOC = "P17";

NET "disp_seg[0]"	LOC = "T17";
NET "disp_seg[1]"	LOC = "T18";
NET "disp_seg[2]"	LOC = "U17";
NET "disp_seg[3]"	LOC = "U18";
NET "disp_seg[4]"	LOC = "M14";
NET "disp_seg[5]"	LOC = "N14";
NET "disp_seg[6]"	LOC = "L14";
NET "disp_seg[7]"	LOC = "M13";
